//Variables Color Scheme

$white: #FFF;
$black:#071013;
$purple:#2D3047;
$green:#7CEA9C;

//Varibles Font Family
$lato: 'Lato',
sans-serif;

//Variables Font Weight
$fweight-light: 300;
$fweight-regular: 400;
$fweight-bold: 700;
$fweight-black: 900;

//Font style
$normal: normal;
$italic: italic;

//device size
$map-breakpoints: ('device-xsmall': (min-width: 360px),
  'device-small': (min-width: 575.98px),
  'device-medium': (min-width: 767.98px),
  'device-large': (min-width: 991.98px),
  'device-xlarge': (min-width: 1199.98px),
);

///////////////////////
//Variables Boostrap//
//$primary: $white;
$success: $green;
$info: $purple;
$dark:$black;