.navbar-custom {
  &__img {
    width: 70px;
    height: 70px;

    &--lg {
      width: 150px;
      height: 150px;
    }
  }
}

.navbar-custom {
  &__fixed {
    position: fixed;
  }
}

a {
  &:hover {
    color: white !important;
  }
}